{% extends "base.html" %}

{% block content %}

<div class="container d-flex justify-content-center">
    <h2 class="textbook-title">Личный кабинет</h2>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="container d-flex justify-content-center">
  <h3 class="textbook-title">Приветствуем, {{ correct_name }}</h3>
  
  
</div>
{% if user.has_social_account  %}
  <p class="text-center">Вход выполнен через {{ user.social_account.platform }}</p>
{% endif %}

{% endblock %}