<!-- Button trigger modal -->
<div class="container d-flex justify-content-center">
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#questionModal">
      Задать вопрос
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" tabindex="-1" id="questionModal" aria-labelledby="questionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="questionModalLabel">Задать вопрос</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" id="question-form" novalidate>
            {{ form.hidden_tag() }}
            <div class="mb-3">
              {% if current_user.is_authenticated %}
                <label for="exampleFormControlInput1" class="form-label"><stong>Уважаемый, {{ current_user.username }}</stong></label>
              {% else %}
                <p class="p-for-label"><strong>{{ form.anon_name.label }}</strong></p>
                <p class="p-for-input-field">{{ form.anon_name(class="form-control") }}
                  {% for error in form.anon_name.errors %}
                    <span style="color: red;">{{ error }}</span>
                  {% endfor %}
                </p>
              {% endif %}
            </div>
            <div class="mb-3">
              <p class="p-for-label"><strong>{{ form.body.label }}</strong></p>
                <p class="p-for-input-field">{{ form.body(class="form-control") }}
                  {% for error in form.body.errors %}
                    <span style="color: red;">{{ error }}</span>
                  {% endfor %}
                </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
              <button class="g-recaptcha btn btn-warning"
                data-sitekey={{ site_key }}
                data-callback='onSubmit' 
                data-action='submit'>Задать вопрос</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>