{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages(category_filter=["send-reset-password"]) %}
{% if messages %}
  <div class="modal" id="myModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Сообщение</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {%- for msg in messages %}
            <p><strong>{{ msg }}</strong></p>
            {% endfor -%}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Понятно</button>
          </div>
        </div>
      </div>
  </div>
{% endif %}
{% endwith %}


{% include 'forms/social_media_enter.html' %}


<div class="container__login-registration d-flex justify-content-center">
    <div class="card d-flex justify-content-center" style="width: 30rem;">
        <div class="card">
            <div class="card-header text-center">
                <h4>Войти через сайт</h4>
            </div>
            <div class="card-body">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p class="p-for-label"><strong>{{ form.username.label }}</strong></p>
                    <p class="p-for-input-field">{{ form.username(class="form-control") }}
                    {% with errors = get_flashed_messages(category_filter=["name-error"]) %}
                        {% if errors %}
                          {% for msg in errors %}
                                <span style="color: red;">{{ msg }}</span>
                          {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% for error in form.username.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    </p>
                    <p class="p-for-label"><strong>{{ form.password.label }}</strong></p>
                    <p class="p-for-input-field">{{ form.password(class="form-control") }}
                    {% with errors = get_flashed_messages(category_filter=["pass-error"]) %}
                        {% if errors %}
                          {% for msg in errors %}
                                <span style="color: red;">{{ msg }}</span>
                          {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                     </p>
                    <div class="d-grid gap-2">
                        {{ form.submit(class="btn btn-warning", style="font-weight: bold;") }}
                    </div>
                    <div class="forgot-password text-center">
                        <a class="forgot-password-link" href="{{ url_for('auth.reset_password_request') }}">Забыли пароль?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}