{% extends 'base.html' %}

{% block content %}

<div class="container__login-registration d-flex justify-content-center">
    <div class="card d-flex justify-content-center" style="width: 30rem;">
        <div class="card">
            <div class="card-header text-center">
                <h4>Сбросить пароль</h4>
            </div>
            <div class="card-body">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p class="p-for-label"><strong>{{ form.email.label }}</strong></p>
                    <p class="p-for-input-field">{{ form.email(class="form-control") }}
                    {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    </p>
                    <div class="d-grid gap-2">
                        {{ form.submit(class="btn btn-warning", style="font-weight: bold;") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}