<div class="container__login-registration d-flex justify-content-center">
    <div class="card d-flex justify-content-center" style="width: 30rem;">
        <div class="card-header text-center">
            <h4>Вход через социальные сети</h4>
        </div>
        <div class="card-body d-flex justify-content-between">
            <a class="navbar-brand" target="_parent", href="{{ url_for('auth.google_login') }}">
                <img class="navbar-brand__login-img" src="../static/img/social_media_ico/google.svg" width="50px" class="d-inline-block align-top" alt="">
            </a>
            <a class="navbar-brand" target="_blank", href="#">
                <img class="navbar-brand__login-img"  src="../static/img/social_media_ico/vk.svg" width="50px" class="d-inline-block align-top" alt="">
            </a>
            <a class="navbar-brand" target="_blank", href="#">
                <img class="navbar-brand__login-img"  src="../static/img/social_media_ico/odnoklassniki.svg" width="50px" class="d-inline-block align-top" alt="">
            </a>
            <a class="navbar-brand" target="_blank", href="#">
                <img class="navbar-brand__login-img" src="../static/img/social_media_ico/yandex.svg" width="50px" class="d-inline-block align-top" alt="">
            </a>
            <a class="navbar-brand" target="_blank", href="#">
                <img class="navbar-brand__login-img" src="../static/img/social_media_ico/telegram.svg" width="50px" class="d-inline-block align-top" alt="">
            </a>
        </div>
    </div>
</div>