{% extends 'admin/master.html' %}

{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}


{% block body %}
  <h1>Админ панель</h1>
  <div>
    <button class="imgLink">
    <img
      src="https://cdn.glitch.com/cb562394-de5e-45a2-a7c3-8f9f92dfcd96%2Flarge_57c96640fd8e6c5e5858158c07db0205.jpg?v=1598517670675"
      alt="artificial lake"
    />
    </button>
  
    <button class="imgLink">
    <img
      src="https://cdn.glitch.com/cb562394-de5e-45a2-a7c3-8f9f92dfcd96%2Fa0640277725_5.jpg?v=1598518242592"
      alt="album art"
    />
    </button>
  </div>
{% endblock %}

