<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
        <img src="../../static/favicon/favicon-32x32.png" class="rounded me-2" alt="...">
        <strong class="me-auto">Вход через соцальные сети или регистрация позволяет:</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <ul>
                <li>
                    Вести дневник состояния, который будет оценивать ваш психотерапевт
                </li>
                <li>
                    Получать рекомендации от вашего психотерапевта
                </li>
                <li>
                    Получать напоминания о дате и времени консультации
                </li>
                <li>
                    Смотреть прогресс по изучению учебника
                </li>
            </ul>
        </div>
    </div>
</div>