
.navbar-expand-lg
    padding-left: 10%
    padding-right: 12%
    margin-top: 20px
    margin-bottom: 15px

.container
    &__login-registration
        margin-top: 1%
        margin-bottom: 1%

.nav-item
    margin-right: 5rem
    &:last-child
        margin-right: 0rem

.carousel-item
    img
        height: 770px
        object-fit: cover

.me-5
    a
        padding-left: 40px

.button-login-registratition
    margin-right: 1%

.navbar-brand
    &__header-img
        filter: grayscale(100%)
        transition: filter 0.5s
        &:hover
            filter: grayscale(0%)
            animation: pulse 2s infinite alternate
    &__footer-img
        filter: grayscale(100%)
        transition: filter 0.5s
        &:hover
            filter: grayscale(0%)
    &__login-img
        filter: grayscale(100%)
        transition: filter 0.2s
        &:hover
           animation: pulse 2s infinite alternate
           filter: grayscale(0%)

.btn-articles
        margin-bottom: 20px


.card-title
    margin-bottom: 10px

.list-group
    margin-left: 20px
    margin-right: 10px
    margin-bottom: 20px

.textbook-title
    margin-bottom: 20px

.accordion
    padding-left: 20%
    margin-right: 20%
    margin-bottom: 20px

.error-card
    margin: 50px 0px 50px 0px



.nav-item > a:hover 
  background-color: #ffcc00
  color: rgb(0, 0, 0)

.navbar-nav > .nav-item > .nav-link.active
    background-color: #ffa600
    color: rgb(0, 0, 0)


.carousel-item
    position: relative

.content
    &__first
        position: absolute
        max-width: 600px
        left: 55%
        bottom:  60%
        color: #000000
        font-size: 18px
    &__second
        position: absolute
        max-width: 700px
        left: 10%
        bottom:  70%
        color: #ffa600
    &__third
        position: absolute
        max-width: 900px
        left: 15%
        bottom:  40%
        color: #ffa600
        font-size: 18px

.p-for-label
    margin-bottom: 0px

.p-for-input-field
    padding-bottom: 5%

.p-phone-special
    padding-bottom: 20px

.card-header
    background-color: #ffa600

.modal-header
    background-color: #ffa600

.forgot-password
    margin-top: 10px

.forgot-password-link
    color: #1e00ff
    text-decoration: none
    font-weight: bold

.form-control
    &:focus
        background-color: #fffefb
        border-color: #e89f18
        box-shadow: 0 0 5px 0 	#ff8a01


.logo-social-container
    padding-left: 1%

@keyframes pulse 
  0%
    transform: scale(1)

  100% 
    transform: scale(1.1)
