
.navbar-expand-lg
    padding-left: 10%
    margin-right: 10%
    margin-top: 20px


.nav-link
    margin-right: 80px

.carousel-item
    img
        height: 760px
        object-fit: cover

.me-5
    a
        padding-left: 40px

.navbar-brand
    &__footer-img
        filter: grayscale(100%)
        transition: filter 0.5s
        &:hover
            filter: grayscale(0%)
