/* line 1, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
::selection {
  background-color: #ffcc00;
}

/* line 4, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
[data-bs-theme=dark] ::selection {
  color: black;
  background-color: #ffcc00;
}

/* line 9, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.logo-image {
  filter: grayscale(100%);
  transition: filter 0.5s;
}

/* line 12, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.logo-image:hover {
  transform: scale(1);
  filter: grayscale(0%);
}

/* line 17, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.accordion-button::after {
  background-image: unset !important;
}

/* line 21, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.navbar-expand-lg {
  padding-left: 10%;
  padding-right: 12%;
  margin-top: 13px;
  margin-bottom: 10px;
}

@media (max-width: 1440px) {
  /* line 28, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
  .navbar-expand-lg {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

/* line 35, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.container__login-registration {
  margin-top: 1%;
  margin-bottom: 1%;
}

/* line 39, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.nav-item {
  margin-right: 5rem;
}

/* line 41, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.nav-item:last-child {
  margin-right: 0rem;
}

/* line 45, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.carousel-item img {
  height: 770px;
  object-fit: cover;
}

/* line 50, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.me-5 a {
  padding-left: 40px;
}

/* line 53, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.button-login-registratition {
  margin-right: 1%;
}

/* line 57, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.navbar-brand__header-img {
  filter: grayscale(100%);
  transition: filter 0.5s;
}

/* line 60, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.navbar-brand__header-img:hover {
  filter: grayscale(0%);
  animation: pulse 2s infinite alternate;
}

/* line 63, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.navbar-brand__footer-img {
  filter: grayscale(100%);
  transition: filter 0.5s;
}

/* line 66, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.navbar-brand__footer-img:hover {
  filter: grayscale(0%);
}

/* line 68, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.navbar-brand__login-img {
  filter: grayscale(100%);
  transition: filter 0.2s;
}

/* line 71, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.navbar-brand__login-img:hover {
  animation: pulse 2s infinite alternate;
  filter: grayscale(0%);
}

/* line 75, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.btn-articles {
  margin-bottom: 20px;
}

/* line 79, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.card-title {
  margin-bottom: 10px;
}

/* line 82, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.list-group {
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}

/* line 88, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.list-group-item:hover {
  font-weight: bold;
}

/* line 92, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.textbook-title {
  background-color: #ffcc00;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: black;
}

/* line 99, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.profile-card {
  transition: transform 0.5s;
  transition: box-shadow 0.5s;
}

/* line 103, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.profile-card__yellow:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px #ff8a01;
}

/* line 107, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.profile-card__green:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px #23ff01;
}

/* line 111, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.profile-card__red:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px #ff0101;
}

/* line 115, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.progress-bar {
  color: black;
}

/* line 118, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.offcanvas-body > .card-body > .list-group > .article-bg {
  background-color: #ffcc00;
}

/* line 121, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
[data-bs-theme=dark] .offcanvas-body > .card-body > .list-group > .article-bg {
  color: black;
}

/* line 124, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.accordion {
  padding-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
}

/* line 129, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.error-card {
  margin: 50px 0px 50px 0px;
}

/* line 134, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.nav-item > a:hover {
  background-color: #ffcc00;
  color: black;
}

/* line 138, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.navbar-nav > .nav-item > .nav-link.active {
  background-color: #ffa600;
  color: black;
}

/* line 141, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.nav-paginate > .pagination > .page-item > .page-link {
  color: black;
}

/* line 143, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.nav-paginate > .pagination > .page-item > .page-link:hover {
  background-color: #ffcc00;
}

/* line 146, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.nav-paginate > .pagination > .page-item.active > .page-link {
  background-color: #ffcc00;
  color: black;
  font-weight: bold;
  border-color: #ffa600;
}

/* line 152, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
[data-bs-theme=dark] .nav-paginate > .pagination > .page-item > .page-link {
  color: #ffcc00;
}

/* line 154, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
[data-bs-theme=dark] .nav-paginate > .pagination > .page-item > .page-link:hover {
  color: black;
  background-color: #ffcc00;
}

/* line 158, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
[data-bs-theme=dark] .nav-paginate > .pagination > .page-item.active > .page-link {
  background-color: #ffcc00;
  color: black;
  font-weight: bold;
  border-color: #ffa600;
}

/* line 166, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.carousel-item {
  position: relative;
}

/* line 170, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.content__first {
  position: absolute;
  max-width: 600px;
  left: 55%;
  bottom: 60%;
  color: #000000;
  font-size: 18px;
}

/* line 177, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.content__second {
  position: absolute;
  max-width: 700px;
  left: 10%;
  bottom: 70%;
  color: #ffa600;
}

/* line 183, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.content__third {
  position: absolute;
  max-width: 900px;
  left: 15%;
  bottom: 40%;
  color: #ffa600;
  font-size: 18px;
}

/* line 191, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.p-for-label {
  margin-bottom: 0px;
}

/* line 194, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.p-for-input-field {
  padding-bottom: 5%;
}

/* line 197, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.p-phone-special {
  padding-bottom: 20px;
}

/* line 200, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.card-header {
  background-color: #ffa600;
}

/* line 203, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
[data-bs-theme=dark] .card-header {
  background-color: #17212c;
}

/* line 206, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.answer-card {
  background-color: #dcf8c6;
}

/* line 209, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
[data-bs-theme=dark] .answer-card {
  background-color: #1a472a;
}

/* line 212, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.modal-header {
  background-color: #ffa600;
}

/* line 215, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
[data-bs-theme=dark] .modal-header {
  color: black;
}

/* line 218, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.forgot-password {
  margin-top: 10px;
}

/* line 221, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.forgot-password-link {
  color: #1e00ff;
  text-decoration: none;
  font-weight: bold;
}

/* line 227, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.form-control:focus {
  background-color: #fffefb;
  border-color: #e89f18;
  box-shadow: 0 0 5px 0 	#ff8a01;
}

/* line 233, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
[data-bs-theme=dark] .form-control:focus {
  color: white;
  background-color: #000000;
  border-color: #e89f18;
  box-shadow: 0 0 5px 0 	#ff8a01;
}

/* line 241, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.news-bg {
  border-color: #6fc7f9;
  transition: box-shadow 0.3s;
  transition: transform 0.3s;
  background-image: linear-gradient(45deg, #f7fbfd, #feffff);
}

/* line 246, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.news-bg:hover {
  box-shadow: 0 0 10px #6fc7f9;
  z-index: 1;
  transform: scale(1.02);
}

/* line 251, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
[data-bs-theme=dark] .news-bg {
  border-color: transparent;
  color: white;
  background-image: linear-gradient(225deg, #251f21, #232e3e);
}

/* line 256, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.arcticles-bg {
  border-color: transparent;
  transition: box-shadow 0.3s;
  transition: transform 0.3s;
  background-color: #FAD961;
  background-image: linear-gradient(45deg, #fcfcfa 0%, #ffedcb 100%);
}

/* line 262, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.arcticles-bg:hover {
  box-shadow: 0 0 10px #ffa600;
  z-index: 1;
  transform: scale(1.02);
}

/* line 268, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
[data-bs-theme=dark] .arcticles-bg {
  border-color: transparent;
  background-image: linear-gradient(50deg, #311d05 0%, #232e3e 100%);
}

/* line 272, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.article-card {
  width: 80%;
  text-align: justify;
}

/* line 275, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.article-card h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
}

/* line 282, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.article-card p img {
  width: 50%;
  overflow: auto;
  cursor: pointer;
  object-fit: contain;
  transition: .2s linear;
  text-align: center;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* line 293, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.article-card p img:hover {
  transform: scale(1.02);
}

/* line 296, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

/* line 305, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  z-index: 100;
}

/* line 314, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.popup-image img {
  position: absolute;
  overflow: auto;
  height: auto;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ffa600;
  border-radius: 5px;
  border-radius: 5px;
  object-fit: cover;
}

/* line 327, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.article-buttons {
  padding-top: 20px;
  margin-bottom: 20px;
}

/* line 331, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 100px;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

/* line 342, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.accordion {
  padding-top: 3%;
  margin-bottom: 3%;
}

/* line 346, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.accordion > .accordion-item > .accordion-header > .accordion-button {
  background-image: linear-gradient(45deg, #FAD961 0%, #ffa600 100%);
}

/* line 349, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
[data-bs-theme=dark] .accordion > .accordion-item > .accordion-header > .accordion-button {
  background-image: linear-gradient(-45deg, #241034 0%, #0e0515 100%);
  color: white;
}

/* line 353, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.contact-card {
  border-color: transparent;
}

/* line 356, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.button-pos {
  margin-top: 5%;
  margin-bottom: 10%;
}

/* line 360, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* line 371, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.progress {
  height: 50px;
  font-size: 18px;
  font-weight: bold;
}

/* line 376, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.diary-card {
  background-image: url("/static/img/diary-texture.webp");
  font-weight: bold;
}

/* line 380, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
[data-bs-theme=dark] .diary-card {
  background-image: none;
  background-color: black;
  color: white;
}

/* line 385, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.recommendation-card {
  padding: 10px 10px 10px 10px;
  background-color: rgba(252, 252, 214, 0.801);
  border-radius: 10px;
}

/* line 389, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.recommendation-card a {
  text-align: center;
}

/* line 392, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
[data-bs-theme=dark] .recommendation-card {
  background-color: #28172f;
}

@media (max-width: 768px) {
  /* line 397, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
  .popup-image img {
    width: 95%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* line 409, ../../PETS/mct-flask-sqlalchemy-redis/mct_app/static/sass/style.sass */
.error-center {
  margin-top: 10%;
  margin-bottom: 20%;
}

/*# sourceMappingURL=style.css.map */