{% extends "base.html" %}

{% block content %}
<main>
  {% for article in articles %}
    <div class="container d-flex justify-content-center">
      <div class="card mb-3 arcticles-bg" style="width: 90%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ article.image.relative_path }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ article.title }}</h5>
              <p class="card-text">{{ article.description }}</p>
              <p class="card-text"><small class="text-body-secondary">{{ article.last_update.strftime('%d.%m.%Y') }}</small></p>
              <a href="{{ url_for('site.article', article_id=article.article_id) }}" class="btn btn-warning">Читать далее...</a>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% include 'paginator.html' %}
</main>
{% endblock %}