{% extends "base.html" %}

{% block content %}
<main>
  <div class="container d-flex justify-content-center">
      <button class="btn btn-warning btn-articles" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Открыть список статей</button>
  </div>
  {% for article in articles %}
    <div class="container d-flex justify-content-center">
      <div class="card mb-3" style="width: 80%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ article.image.relative_path }}" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.description }}</p>
            <p class="card-text"><small class="text-body-secondary">{{ article.last_update }}</small></p>
            <a href="{{ url_for('site.article', article_id=article.article_id) }}" class="btn btn-warning">Читать далее...</a>
            <p></p>
          </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% include 'paginator.html' %}
    
    <!-- OFFCANVAS SECTION -->
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasScrollingLabel">Стисок статей</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        {% for month_year, article_list in articles_by_month.items() %}
          <div class="card-body">
            <h5 class="card-title">{{ month_year }}</h5>
            <div class="list-group">
              {% for article_title, article_link in article_list.items() %}
                <a href="{{ url_for('site.article', article_id=article_link) }}" class="list-group-item list-group-item-action" aria-current="true">
                  {{ article_title }}
                </a>
              {% endfor %}
            </div>
        {% endfor %}
</main>
{% endblock %}