<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@21.2.8/build/css/intlTelInput.css">
    <script defer src="{{ url_for('static', filename='js/popper.min.js') }}" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script defer src="{{ url_for('static', filename='js/bootstrap.min.js') }}" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Метакогнитивная терапия - новости, статьи, учебник, консультации</title>
    <link rel="apple-touch-icon" sizes="120x120" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Самая полная информация о лечении психических расстройств с помощью метакогнитивной терапии">
</head>
<body data-bs-theme="light">
  {% include 'hints/reg_reason_toast.html' %}
  <header>
    <nav class="navbar navbar-expand-lg bg-body d-flex justify-content-between">
      <div class="logo-social-container">
        <a class="navbar-brand" target="_parent", href="{{ url_for('site.home') }}">
          <img src="../static/img/logo.png" class="d-inline-block align-top" alt="">
        </a>
        <a class="navbar-brand" target="_blank", href="{{ links['GitHub'] }}">
          <img class="navbar-brand__header-img" src="../static/img/social_media_ico/github.svg" width="45px" class="d-inline-block align-top" alt="">
        </a>
        <a class="navbar-brand" target="_blank", href="{{ links['Telegram'] }}">
          <img class="navbar-brand__header-img"  src="../static/img/social_media_ico/telegram.svg" width="45px" class="d-inline-block align-top" alt="">
        </a>
        <a class="navbar-brand" target="_blank", href="{{ links['WhatsApp'] }}">
          <img class="navbar-brand__header-img" src="../static/img/social_media_ico/whatsapp.svg" width="45px" class="d-inline-block align-top" alt="">
        </a>
        <a class="navbar-brand" target="_blank", href="{{ links['YouTube'] }}">
          <img class="navbar-brand__header-img" src="../static/img/social_media_ico/youtube.svg" width="45px" class="d-inline-block align-top" alt="">
        </a>
      </div>
      <div class="button-login-registratition">
        {% if current_user.is_anonymous %}
        <a class="btn btn-secondary" href="{{ url_for('auth.login') }}" role="button">Войти</a>
        <a class="btn btn-dark" href="{{ url_for('auth.registration') }}" role="button">Регистрация</a>
        {% else %}
          {% if current_user.is_admin() %}
            <a class="btn btn-success" href="{{ url_for('admin.index') }}" role="button">Админ-панель</a>
          {% endif %}
        <a class="btn btn-warning" href="{{ url_for('auth.profile', username=current_user.username) }}" role="button">Личный кабинет</a>
        <a class="btn btn-danger" href="{{ url_for('auth.logout') }}" role="button">Выйти</a>
        {% endif %}
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-body d-flex justify-content-between">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% with active_links = get_flashed_messages(category_filter=['active_links']) %}
          {% if active_links %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav nav-pills me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                {% for link in active_links %}
                <li class="nav-item">
                  {% if link == 'news' %}
                    <a class="nav-link active disabled" href="{{ url_for('site.news') }}">Новости</a>
                  {% else %}
                    <a class="nav-link" href="{{ url_for('site.news') }}">Новости</a>
                  {% endif %}
                </li>
                <li class="nav-item">
                  {% if link == 'articles' %}
                    <a class="nav-link active disabled" href="{{ url_for('site.articles') }}">Статьи</a>
                  {% else %}
                    <a class="nav-link" href="{{ url_for('site.articles') }}">Статьи</a>
                  {% endif %}
                </li>
                <li class="nav-item">
                  {% if link == 'textbook' %}
                    <a class="nav-link active disabled" href="{{ url_for('site.textbook') }}">Учебник МКТ</a>
                  {% else %}
                    <a class="nav-link" href="{{ url_for('site.textbook') }}">Учебник МКТ</a>
                  {% endif %}
                </li>
                <li class="nav-item">
                  {% if link == 'questions' %}
                    <a class="nav-link active disabled" href="{{ url_for('site.questions') }}">Ваши вопросы</a>
                  {% else %}
                    <a class="nav-link" href="{{ url_for('site.questions') }}">Ваши вопросы</a>
                  {% endif %}
                </li>
                <li class="nav-item">
                  {% if link == 'consultation' %}
                    <a class="nav-link active disabled" href="{{ url_for('site.consultation') }}">Записаться на консультацию</a>
                  {% else %}
                    <a class="nav-link" href="{{ url_for('site.consultation') }}">Записаться на консультацию</a>
                  {% endif %}
                </li>
                <li class="nav-item">
                  {% if link == 'contacts' %}
                    <a class="nav-link active disabled" href="{{ url_for('site.contacts') }}">Контакты</a>
                  {% else %}
                    <a class="nav-link" href="{{ url_for('site.contacts') }}">Контакты</a>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          {% else %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav nav-pills me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('site.news') }}">Новости</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('site.articles') }}">Статьи</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('site.textbook') }}">Учебник МКТ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('site.questions') }}">Ваши вопросы</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('site.consultation') }}">Записаться на консультацию</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('site.contacts') }}">Контакты</a>
                </li>
              </ul>
            </div>
          {% endif %}
          {% endwith %}
        <!-- </div> -->
        <div class="form-check form-switch">
          <input class="form-check-input opacity-10 border border-warning" type="checkbox" id="flexSwitchCheckChecked" onclick="switchThemeFunction()">
        </div>
        <div class="search-form">
          <form class="d-flex justify-content-around" role="search">
            <input class="form-control me-2" type="search" placeholder="Что вас волнует" aria-label="Search">
            <button class="btn btn-warning" type="submit">Найти</button>
          </form>
        </div>
      <!-- </div> -->
    </nav>
  </header>
    {% block content %}
    {% endblock %}
  <!--Toast-->
  <!-- Footer -->
  <footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Перейти в социальные сети проекта: </span>
        <a class="navbar-brand" target="_blank" href="{{ links['GitHub'] }}">
          <img class="navbar-brand__footer-img" src="../static/img/social_media_ico/github.svg" width="25px" class="d-inline-block align-top" alt="">
        </a>
        <a class="navbar-brand" target="_blank" href="{{ links['Telegram'] }}">
          <img class="navbar-brand__footer-img"  src="../static/img/social_media_ico/telegram.svg" width="25px" class="d-inline-block align-top" alt="">
        </a>
        <a class="navbar-brand" target="_blank" href="{{ links['WhatsApp'] }}">
          <img class="navbar-brand__footer-img"  src="../static/img/social_media_ico/whatsapp.svg" width="25px" class="d-inline-block align-top" alt="">
        </a>
        <a class="navbar-brand" target="_blank" href="{{ links['YouTube'] }}">
          <img class="navbar-brand__footer-img" src="../static/img/social_media_ico/youtube.svg" width="25px" class="d-inline-block align-top" alt="">
        </a>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>МКТ-Россия.рф
            </h6>
            <p>
              Пожалуйста, обратите внимание, что информация, предоставленная на этом сайте,
              носит рекомендательный характер и не заменяет профессиональную медицинскую консультацию или лечение.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Информация
            </h6>
            <p>
              <a href="{{ url_for('site.news') }}" class="text-reset">Новости</a>
            </p>
            <p>
              <a href="{{ url_for('site.articles') }}" class="text-reset">Статьи</a>
            </p>
            <p>
              <a href="{{ url_for('site.textbook') }}" class="text-reset">Учебник МКТ</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Мы и Вы
            </h6>
            <p>
              <a href="{{ url_for('site.questions') }}" class="text-reset">Ваши вопросы</a>
            </p>
            <p>
              <a href="{{ url_for('site.consultation') }}" class="text-reset">Записаться на консультацию</a>
            </p>
            <p>
              <a href="{{ url_for('site.contacts') }}" class="text-reset">Контакты</a>
            </p>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022-{{ current_year }} Вернуться на главную:
      <a class="text-reset fw-bold" target="_parent" href="{{ url_for('site.home') }}">мкт-россия.рф</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  {% block scripts %}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@21.2.8/build/js/intlTelInput.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/odnoklassniki.js') }}"></script>
    <script src="{{ url_for('static', filename='js/switchThemeFunction.js') }}"></script>
    <script src="{{ url_for('static', filename='js/responsive.popup.image.js') }}"></script>
  {% endblock %}
</body>