{% extends "base.html" %}


{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card contact-card" style="width: 70%">
      <img src="{{ url_for('static', filename='img/logo.svg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>Сайт metacognitive.ru</strong></p>
        <p><strong>Если обнаружили ошибку на сайте</strong></p>
        Если заметили ошибку, напишите в Telegram <a href="{{ links['Telegram'] }}">разработчику сайта</a>
        <p>Автор: Зайцев И.Н.</p>
        <p>Консультации проводятся официально, до консультации клиенту будет выставлен счет с QR-кодом, который можно отследить через Федеральную Налоговую Службу (ФНС) на сайте nalog.ru</p>
        <p>Вместе со счетом на оплату клиенту будет выдан терапевпический договор, с которым он должен ознакомиться или принять условия договора или НЕ принять.</p>
        <p><strong>Как связаться?</strong></p>
        <p>Вы можете связаться с автором проекта с помощью сервиса "Ваши вопросы". В этом случае ваши вопросы могут видеть все пользователи</p>
        <p>Если у вас есть личные вопросы к автору проекта воспользуйтесь сервисом "Записаться на консультацию" или через ссылку на Telegram автора в верхнем меню.</p>
        <p><strong>100% конфиденциальность</strong></p>
        <p>Дневник пользователя доступен только самому пользователю и его психотерапевту. Остальные пользователи не могут получить доступ к дневнику. Консультации проводятся с гаранией 100% конфиденциальность любой личной информации клиента.</p>
      </div>
    </div>
</div>
{% endblock %}