{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card contact-card" style="width: 70%">
        <h1>Обработка файлов cookie</h1>
        <p>Вы предоставляете сайту metacognitive-therapy.ru (далее – сайт) согласие на обработку данных о посещении сайта metacognitive-therapy.ru (файлы cookie и иные пользовательские данные) на условиях Политики конфиденциальности, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение.</p>

        <p>Файлы cookie означают файлы с текстовой информацией о применяемых настройках сайта. Файлы cookie отправляются веб-сервером, на котором размещен сайт, во время посещения сайта и в дальнейшем хранятся на пользовательском устройстве, с которого осуществляется доступ к сайту.</p>

        <p>Сбор и обработка данных осуществляются автоматически при просмотре вами страниц сайта (из cookie), в том числе:</p>

        <ul>
            <li>
                тип выполненного на сайте действия (клик, наведение курсора и т. п.);
            </li>
            <li>
                дата и время выполнения действия;
            </li>
            <li>
                URL страницы;
            </li>
            <li>
                URL страницы сайта в сети интернет, с которой был осуществлён переход на сайт или страницу сайта;
            </li>
            <li>
                IP-адрес;
            </li>
            <li>
                версия операционной системы пользователя;
            </li>
            <li>
                ClientID (идентификатор браузера по файлу cookie);
            </li>
            <li>
                экранное разрешение;
            </li>
            <li>
                класс HTML-элемента, по которому происходит клик;
            </li>
            <li>
                данные об информации, просматриваемой в интерфейсе сайта.
            </li>
        </ul>

        <p>Вы можете заблокировать использование файлов cookie, изменив настройки вашего интернет-браузера. Отказ от использования файлов cookie может отразиться на пользовательском интерфейсе и некоторых компонентах сайта. Информация о том, как отключить файлы cookie или изменить настройки файлов cookie для браузера, размещена по следующим ссылкам:</p>

        <ul>
            <li>
                <a href="https://support.google.com/chrome/answer/95647?hl=ru&hlrm=ru">Google Chrome;</a>
            </li>
            <li>
                <a href="https://support.microsoft.com/ru-ru/windows/%D1%83%D0%B4%D0%B0%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D1%84%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2-cookie-%D0%B8-%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B8%D0%BC%D0%B8-168dab11-0753-043d-7c16-ede5947fc64d">Internet Explorer;</a>
            </li>
            <li>
                <a href="https://support.mozilla.org/ru/kb/uluchshennaya-zashita-ot-otslezhivaniya-firefox-dlya-kompyutera?redirectslug=vklyuchenie-i-otklyuchenie-kukov-ispolzuemyh-veb-s&redirectlocale=ru">Firefox;</a>
            </li>
            <li>
                <a href="https://help.opera.com/ru/latest/web-preferences/#cookies">Opera;</a>
            </li>
            <li>
                <a href="https://browser.yandex.ru/help/personal-data-protection/cookies.html">Яндекс Браузер;</a>
            </li>
            <li>
                <a href="https://support.microsoft.com/ru-ru/windows/%D0%B1%D1%80%D0%B0%D1%83%D0%B7%D0%B5%D1%80-microsoft-edge-%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5-%D0%B1%D1%80%D0%B0%D1%83%D0%B7%D0%B5%D1%80%D0%B0-%D0%B8-%D0%BA%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd">Microsoft Edge;</a>  
            </li>
        </ul>
    </div>
</div>
{% endblock %}