{% extends "base.html" %}

{% block content %}
<main>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="content__first">
            <h1>Метакогнитивная терапия</h1>
            <p>Современная когнитивно-поведенческая терапия XXI века, которая разработана в Университете Манчестера (Великобритания) профессором Эдрианом Уэллсом</p>
          </div>
          <img src="../static/img/1a.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <div class="content__second">
            <h1>Самый современный метод психотерапии</h1>
            <p>По состоянию на {{ current_year }} год Университет Манчестера проводит клинические исследования метакогнитивной терапии</p>
          </div>
          <img src="../static/img/2a.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <div class="content__third">
            <h1>Возможноти сайта МКТ-Россия.рф</h1>
            <p>☑️ Ознакомиться с новыми исследованиями в изучении МКТ</p>
            <p>☑️ Изучить теорию и практику метокогнитивной терапии</p>
            <p>☑️ Самостоятельно применить полученные на сайте знания, умения, навыки</p>
            <p>☑️ Бесплатно задать любой вопрос и получить ответ МКТ-психотерапевта</p>
            <p>☑️ Записаться на консультацию, проработать расстройства методами МКТ</p>
            <p>☑️ Вести дневник самочувствия, который будет анализировать лечащий психотерапевт</p>
          </div>
          <img src="../static/img/3a.webp" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
</main>
{% endblock %}