{% extends "base.html" %}

{% block content %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="content__first">
          <h1>Hello, World</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem nulla labore, laborum est optio fugiat maxime porro ipsa atque sequi laudantium praesentium illo sunt commodi repellendus vitae rem aliquid magni.</p>
          <button type="button" class="btn btn-success">Success</button>
        </div>
        <img src="../static/img/1a.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <div class="content__second">
          <h1>Hello, World</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem nulla labore, laborum est optio fugiat maxime porro ipsa atque sequi laudantium praesentium illo sunt commodi repellendus vitae rem aliquid magni.</p>
          <button type="button" class="btn btn-success">Success</button>
        </div>
        <img src="../static/img/2a.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <div class="content__third">
          <h1>Hello, World</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem nulla labore, laborum est optio fugiat maxime porro ipsa atque sequi laudantium praesentium illo sunt commodi repellendus vitae rem aliquid magni.</p>
          <button type="button" class="btn btn-success">Success</button>
        </div>
        <img src="../static/img/3a.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}
