{% extends "base.html" %}


{% block content %}
<main>
  {% for news_item in news %}
      <div class="container d-flex justify-content-center">
        <div class="card mb-3 news-bg" style="width: 80%;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ news_item.image.relative_path }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                  <h5 class="card-title">{{ news_item.title }}</h5>
                  <p class="card-text">{{ news_item.content }}</p>
                  <p class="card-text"><small class="text-body-secondary">{{ news_item.last_update.strftime('%d.%m.%Y') }}</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% include 'paginator.html' %}
<main>
{% endblock %}