{% extends "base.html" %}

{% block content %}
<br>
<div class="container d-flex justify-content-center">
  <div class="card" style="width: 90%;">
    <div class="card-header d-flex justify-content-between">
        {% if question.anon_name %}
            <h5>Автор вопроса: {{ question.anon_name }}</h5>
        {% else %}
            <h5>Автор вопроса: {{ question.user.username }}</h5>
        {% endif %}
        <h5>Вопрос задан {{ question.date.strftime('%d.%m.%Y')}} в {{ question.date.strftime('%H:%M') }}</h5>
    </div>
    <div class="card-body">
      <p class="card-text"><strong>Вопрос: </strong>{{ question.body }}</p>
      {% if current_user.is_admin() or current_user.is_doctor() %}
        {% include 'forms/give_answer.html' %}
      {% endif%}
    </div>
  </div>
  <hr>
</div>
<br>


{% for answer in question.answers %}
  <div class="container d-flex justify-content-center">
    <div class="card" style="width: 90%;">
      <div class="card-header answer-card d-flex justify-content-between">
          <h5>Автор ответа: {{ answer.user.username }}</h5>
      </div>
      <div class="card-body">
        <p class="card-text"><strong>Ответ: </strong>{{ answer.body }}</p>
      </div>
    </div>
  </div>
{% endfor %}
<br>
{% endblock %}