{% extends "base.html" %}

{% block content %}
{% include 'forms/ask_question.html' %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var questionModal = new bootstrap.Modal('#questionModal');
    var form = document.getElementById('question-form');

    form.addEventListener('submit', function(event) {
      event.preventDefault();
      questionModal.show();
    });
  });
  
</script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
  function onSubmit(token) {
    document.getElementById("question-form").submit();
  }
</script>
{% endblock %}