{% extends "base.html" %}

{% block content %}

<div class="container d-flex justify-content-center">
    <h2 class="textbook-title">Учебник метакогнитивной терапии</h2>
  </div>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          1. Основные понятия метакогнитивной терапии
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
              1.1 Понятия
            </a>
            <a href="#" class="list-group-item list-group-item-action">1.2 Понятия</a>
            <a href="textbook-7.html" class="list-group-item list-group-item-action">1.3 Понятия</a>
            <a href="#" class="list-group-item list-group-item-action">1.4 Понятия</a>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          2. Тревожное расстройство личности
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
              2.1 Понятия
            </a>
            <a href="#" class="list-group-item list-group-item-action">2.2 Понятия</a>
            <a href="#" class="list-group-item list-group-item-action">2.3 Понятия</a>
            <a href="#" class="list-group-item list-group-item-action">2.4 Понятия</a>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          3. Депрессивный эпизод
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
              3.1 Понятия
            </a>
            <a href="#" class="list-group-item list-group-item-action">3.2 Понятия</a>
            <a href="#" class="list-group-item list-group-item-action">3.3 Понятия</a>
            <a href="#" class="list-group-item list-group-item-action">3.4 Понятия</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}