{% extends "base.html" %}

{% block content %}
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    {% for chapter, paragraphs in textbook_items.items() %}
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        <strong>{{ chapter }}</strong>
        <span class="tooltip-text" id="top"></span>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
        {% for paragraph in paragraphs %}
        <div class="list-group">
            <a href="{{ url_for('site.textbook_paragraph', paragraph=paragraph) }}" class="list-group-item list-group-item-action" aria-current="true">
              {{ paragraph }}
            </a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}